body{
	font-family:sans-serif;
	font-weight:bold;
	background-image:url("images/stucco/stucco.png");
	color:#474747;
	
}

nav a:link{
	text-decoration:none;
	color:#E6E6E6;
	
}

nav a:visited{
	color:#669900;
	
}

nav a:hover{
	color:#FF9933;
	
}

nav a:active{
	color:#00CC00;
	
}

#wrapper{
	width:85%;
	margin-left:auto;
	margin-right:auto;
	
}

#top ul{
	list-style-type:none;
	
}

#top{
	background-color:#474747;
	text-align:right;
	padding:1px;
	
}

#top li{
	display:inline;
	margin-right:1%;
}

#nav{
	background-color:#F5F5FF;
	text-align:left;
	border:1px #E6E6E6 solid;
	margin-bottom:1%;
	
}

#nav ul{
	list-style-type:none;
	
}

#nav li{
	padding-right:4%;
	display:inline;
	
}

main{
	background-color:white;
	border: solid #E6E6E6 1px;
	margin-bottom:10px;
	padding-left:20px;
	overflow:hidden;
	
}

h1{
	font-size:2.5em;
	
}

#rightfloat{
	float:right;
	width:68%;
	
}

.leftfloat{
	float:left;
	margin-right:1%;
	
} 
 
footer {
	background-color:black;
	color:#474747;
	text-align:center;
	padding:8px;
	clear:both;
	font-size:.8em;
	
}

/**
index.html
**/

#portrait {
	float:left;
	margin:1%;
	
}

#louise{
	margin-left:1%;
	
}

#louise h2{
	font-size:2em;
	
}

#price {
	color:red;
	
}

#rightfloat h2{
	border-bottom:2px solid #E6E6E6;
	margin-right:1%;
	
}

.wishcart{
	color:blue;
	margin:1%;
	padding:1%;
	width:200px;
	font-size:1.1em;
	font-weight:bold;
	
}

#wishcart{
	margin-left:10%;
	margin-right:30%;
	text-align:center;
	border:1px solid #E6E6E6;
	
}

#thumbs {
	clear:left;
	margin-left:1%;
	width:98%
	
}

#thumbs h2{
	border-bottom:1px #E6E6E6 solid;
	
}

#thumbs figure{
	border:1px #E6E6E6 solid;
	padding:1%;
	text-align:center;
	
}

/**
register.html
**/

h3{
	border-bottom:#E6E6E6 solid 1px;
	
}

#registrationform legend {
	font-size:1.2em;
	
	
}

#registrationform input, label{
	margin-bottom:1%;
	
}

#registrationform button{
	margin-bottom:1%;
	
}
